*{
    margin: 0;
    padding: 0;
}

button{
    width: 59px;
    height: 59px;
    display: flex;
    margin: auto;
    margin-top: 25%;
    background-color: rgb(150, 150, 240);
    font-family: sans-serif;
}
body{
    background-color: rgb(54, 54, 54);
    font-family: sans-serif;
    color: #fff;
    font-size: 45px;
}